@import "../../styles/variables";
.pagination {
  grid-column: span 12;
  height: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 1rem;
    // tab-size: 0;

    &:focus {
      border: 1px solid $primary;
    }
  }

  .selected {
    color: $primary;
  }

  svg {
    font-size: 1.5rem;
  }
}
