@import "../../styles/variables.scss";

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: span 12;
    justify-content: space-between;

    &:after {
        background-color:$primary;
        content: "";
        position: absolute;
        left: 50%;
        width: 4px;
        height: 100%;
    }
}